Repository geodynamics/aspect, pull requests merged in 2018-07, with the labels that each got.

#2550 Minor updates to the Donea-Huerta benchmark.
  benchmarks/doneahuerta/doneahuerta.cc
  doc/manual/manual.tex
Labels: ready to merge

#2559 Tester check for 'ready to test' label
  Jenkinsfile.k8s
Labels: ready to test

#2480 replace boost bind by lambdas
  include/aspect/simulator.h
  include/aspect/simulator_signals.h
  source/geometry_model/box.cc
  source/geometry_model/chunk.cc
  source/geometry_model/ellipsoidal_chunk.cc
  source/geometry_model/spherical_shell.cc
  source/geometry_model/two_merged_boxes.cc
  source/particle/particle_handler.cc
  source/particle/world.cc
  source/postprocess/global_statistics.cc
  source/postprocess/stokes_residual.cc
  source/postprocess/visualization.cc
  source/simulator/assembly.cc
  source/simulator/core.cc
  source/simulator/initial_conditions.cc
  source/simulator/melt.cc
  source/simulator/solver_schemes.cc
Labels: ready to merge

#2561 doc: compressibility type for different approximations
  doc/manual/manual.tex
Labels: ready to test

#2568 Temperature anomaly postprocessor
  doc/modules/changes/20180711_maxrudolph
  include/aspect/postprocess/interface.h
  include/aspect/postprocess/visualization.h
  include/aspect/postprocess/visualization/temperature_anomaly.h
  source/postprocess/interface.cc
  source/postprocess/visualization.cc
  source/postprocess/visualization/temperature_anomaly.cc
  tests/visualization_temperature_anomaly.prm
  tests/visualization_temperature_anomaly/solution/solution-00000.0000.gnuplot
Labels: ready to test

#2509 Initial temperature condition - patch on S40RTS
  data/initial-temperature/patch-on-S40RTS/test/upper_shell_3d.txt
  doc/modules/changes/20180709_SophieCoulson
  include/aspect/initial_temperature/S40RTS_perturbation.h
  include/aspect/initial_temperature/patch_on_S40RTS.h
  source/initial_temperature/patch_on_S40RTS.cc
  tests/initial_condition_patch_on_S40RTS.prm
  tests/initial_condition_patch_on_S40RTS/screen-output
  tests/initial_condition_patch_on_S40RTS/solution/solution-00000.0000.gnuplot
  tests/initial_condition_patch_on_S40RTS/statistics
Labels: ready to merge, ready to test

#2578 Add a maximum yield strength value for drucker-prager rheology needed…
  include/aspect/material_model/visco_plastic.h
  source/material_model/visco_plastic.cc
  tests/visco_plastic_derivatives_2d/screen-output
  tests/visco_plastic_derivatives_3d/screen-output
  tests/visco_plastic_yield_max.prm
  tests/visco_plastic_yield_max/screen-output
  tests/visco_plastic_yield_max/solution/solution-00000.0000.gnuplot
  tests/visco_plastic_yield_max/statistics
Labels: ready to test
