Repository geodynamics/aspect, pull requests merged in 2019-04, with the labels that each got.

#2855 Multi VoF field correction
  include/aspect/volume_of_fluid/handler.h
  source/volume_of_fluid/handler.cc
  source/volume_of_fluid/setup_initial_conditions.cc
  tests/vof_linear_2f.prm
  tests/vof_linear_2f/screen-output
  tests/vof_linear_2f/statistics
Labels: ready to test

#2865 timing sparsity pattern setup
  source/simulator/core.cc
Labels: ready to test

#2866 Adjust location of imposing bounds on vol fractions in composition init
  source/volume_of_fluid/setup_initial_conditions.cc
  tests/vof_composition_init.prm
  tests/vof_composition_init/screen-output
  tests/vof_composition_init/statistics
Labels: ready to test

#2878 clang-tidy: apply modernize-use-nullptr
  include/aspect/plugins.h
  source/adiabatic_conditions/interface.cc
  source/boundary_composition/box.cc
  source/boundary_composition/interface.cc
  source/boundary_composition/two_merged_boxes.cc
  source/boundary_fluid_pressure/interface.cc
  source/boundary_heat_flux/interface.cc
  source/boundary_temperature/box.cc
  source/boundary_temperature/dynamic_core.cc
  source/boundary_temperature/interface.cc
  source/boundary_traction/interface.cc
  source/boundary_velocity/interface.cc
  source/geometry_model/initial_topography_model/interface.cc
  source/geometry_model/interface.cc
  source/gravity_model/interface.cc
  source/heating_model/interface.cc
  source/heating_model/shear_heating.cc
  source/initial_composition/interface.cc
  source/initial_temperature/adiabatic_boundary.cc
  source/initial_temperature/box.cc
  source/initial_temperature/interface.cc
  source/material_model/interface.cc
  source/mesh_refinement/composition.cc
  source/mesh_refinement/interface.cc
  source/mesh_refinement/temperature.cc
  source/mesh_refinement/velocity.cc
  source/particle/generator/interface.cc
  source/particle/integrator/interface.cc
  source/particle/interpolator/interface.cc
  source/particle/property/interface.cc
  source/particle/world.cc
  source/postprocess/depth_average.cc
  source/postprocess/geoid.cc
  source/postprocess/interface.cc
  source/postprocess/particles.cc
  source/postprocess/visualization.cc
  source/postprocess/visualization/seismic_anomalies.cc
  source/prescribed_stokes_solution/interface.cc
  source/simulator/helper_functions.cc
  source/simulator/simulator_access.cc
  source/termination_criteria/interface.cc
Labels: ready to merge, ready to test

#2880 update clang-tidy settings
  .clang-tidy
Labels: ready to merge, ready to test

#2886 cleanup: consistent parameter names
  include/aspect/boundary_velocity/gplates.h
  include/aspect/free_surface.h
  include/aspect/geometry_model/box.h
  include/aspect/geometry_model/chunk.h
  include/aspect/geometry_model/ellipsoidal_chunk.h
  include/aspect/geometry_model/initial_topography_model/ascii_data.h
  include/aspect/geometry_model/sphere.h
  include/aspect/geometry_model/spherical_shell.h
  include/aspect/geometry_model/two_merged_boxes.h
  include/aspect/melt.h
  include/aspect/newton.h
  include/aspect/particle/generator/probability_density_function.h
  include/aspect/prescribed_stokes_solution/function.h
  include/aspect/simulator.h
  include/aspect/simulator/assemblers/advection.h
  include/aspect/simulator/assemblers/interface.h
  include/aspect/simulator/assemblers/stokes.h
  include/aspect/utilities.h
  include/aspect/volume_of_fluid/assembly.h
  include/aspect/volume_of_fluid/handler.h
Labels: ready to merge, ready to test

#2895 cmake: switch to CXX only project
  CMakeLists.txt
Labels: ready to merge, ready to test

#2780 constraints: periodic before hanging
  source/simulator/core.cc
  source/simulator/free_surface.cc
Labels: ready to merge
