Repository geodynamics/aspect, pull requests merged in 2020-03, with the labels that each got.

#3389 Only update the statistics file if possible, rather than writing it anew.
  doc/modules/changes/20200226_bangerth
  include/aspect/simulator.h
  source/simulator/checkpoint_restart.cc
  source/simulator/core.cc
  source/simulator/helper_functions.cc
Labels: ready to merge, ready to test

#3400 Immediately overwrite the statistics file upon restart.
  source/simulator/checkpoint_restart.cc
  source/simulator/helper_functions.cc
Labels: ready to test

#3382 gmres for gmg cheap
  doc/modules/changes/20200228_clevenger
  include/aspect/stokes_matrix_free.h
  source/simulator/stokes_matrix_free.cc
  tests/hollow_sphere_gmg_q3/screen-output
  tests/no_cheap_gmg/statistics
  tests/nonlinear_channel_flow_velocities_Newton_Stokes_GMG/screen-output
  tests/nonlinear_channel_flow_velocities_Newton_Stokes_GMG/statistics
  tests/sol_cx_2_gmg/statistics
  tests/sol_cx_4_gmg/statistics
  tests/solver_scheme_no_advection_single_stokes/statistics
  tests/tangurnis_tala_gmg/statistics
Labels: ready to test

#3168 Refactor operator splitting function
  include/aspect/simulator.h
  source/simulator/helper_functions.cc
  tests/advection_reaction/screen-output
  tests/average_density_boundary_fluid_pressure/screen-output
  tests/exponential_decay/screen-output
  tests/global_latent_heat/screen-output
  tests/heat_advection_by_melt_operator_splitting/screen-output
  tests/latent_heat_melt_operator_split/screen-output
  tests/latent_heat_melt_transport/screen-output
  tests/mass_reaction_term/screen-output
  tests/melt_and_traction/screen-output
  tests/melt_transport/screen-output
  tests/melting_rate_operator_splitting/screen-output
  tests/melting_rate_operator_splitting2/screen-output
  tests/mid_ocean_ridge/screen-output
  tests/prescribed_stokes_solution_melt/screen-output
  tests/rising_melt_blob_freezing/screen-output
  tests/shear_heating_with_melt/screen-output
Labels: ready to merge, ready to test

#3404 Improve allocation of matrix blocks
  include/aspect/simulator.h
  source/simulator/core.cc
  tests/matrix_nonzeros_6.prm
  tests/matrix_nonzeros_6/screen-output
  tests/matrix_nonzeros_6/statistics
  tests/matrix_nonzeros_7.prm
  tests/matrix_nonzeros_7/screen-output
  tests/matrix_nonzeros_7/statistics
Labels: ready to merge

#3405 Ability to interpolate multiple properties
  source/particle/interpolator/bilinear_least_squares.cc
  tests/particle_interpolator_bilinear_add_particles.cc
  tests/particle_interpolator_bilinear_add_particles.prm
  tests/particle_interpolator_bilinear_add_particles/screen-output
Labels: ready to test

#3334 Url reader
  contrib/opendap/OPeNDAP.md
  contrib/opendap/input_files/lithospheric_thickness.csv
  contrib/opendap/input_files/lithospheric_thickness.txt
  contrib/opendap/prm_files/aspect_test.prm
  contrib/opendap/prm_files/aspect_url_test.prm
  doc/modules/changes/20200116_kneumiller_2
  include/aspect/utilities.h
  source/utilities.cc
  tests/ascii_data_fail_4/screen-output
Labels: ready to test

#3408 Rename sampling scheme in gravity_point_values postprocessor
  doc/modules/changes/20200310_jeanniot
  include/aspect/postprocess/gravity_point_values.h
  source/postprocess/gravity_point_values.cc
  tests/gravity_point_values_list.prm
  tests/gravity_point_values_list/output_gravity/gravity-00000
  tests/gravity_point_values_map.prm
  tests/gravity_point_values_map/output_gravity/gravity-00000
Labels: ready to test

#3406 update chebyshev parameters
  source/simulator/stokes_matrix_free.cc
  tests/nonlinear_channel_flow_velocities_Newton_Stokes_GMG/screen-output
Labels: ready to test

#3429 update gitignore
  .gitignore
Labels: ready to merge

#3420 Add average- minimun- and maximum gravity/potential in Gravity Postprocessor
  doc/modules/changes/20200318_jeanniot
  include/aspect/postprocess/gravity_point_values.h
  source/postprocess/gravity_point_values.cc
  tests/gravity_point_values_list/statistics
  tests/gravity_point_values_map/statistics
Labels: ready to merge, ready to test
