Repository geodynamics/aspect, pull requests merged in 2025-05, with the labels that each got.

#6290 add burstedde_bfbt/statistics
  tests/burstedde_bfbt/statistics
Labels: ready to test

#6289 update install prereq documentation
  doc/sphinx/user/install/local-installation/system-prereqs.md
Labels: documentation, ready to test

#6291 Change pressure scaling factor for Weighted BFBT.
  source/simulator/assemblers/stokes.cc
  tests/burstedde_bfbt/screen-output
  tests/burstedde_bfbt/statistics
Labels: ready to test

#6280 Use AMG for Weighted BFBT
  source/simulator/assembly.cc
  tests/burstedde_bfbt/statistics
  tests/nsinker_bfbt/statistics
Labels: ready to test

#6293 add tests/spherical_nsinker_bfbt/statistics
  tests/spherical_nsinker_bfbt/statistics
Labels: ready to test

#6296 Fix geoid freesurface test failure on deal.II master
  tests/geoid_freesurface.prm
  tests/geoid_freesurface/CMB_topography_contribution_SH_coefficients.00000
  tests/geoid_freesurface/CMB_topography_contribution_SH_coefficients.00001
  tests/geoid_freesurface/density_anomaly_contribution_SH_coefficients.00000
  tests/geoid_freesurface/density_anomaly_contribution_SH_coefficients.00001
  tests/geoid_freesurface/dynamic_topography_bottom.00000
  tests/geoid_freesurface/dynamic_topography_bottom.00001
  tests/geoid_freesurface/dynamic_topography_top.00000
  tests/geoid_freesurface/dynamic_topography_top.00001
  tests/geoid_freesurface/geoid_anomaly.00000
  tests/geoid_freesurface/geoid_anomaly.00001
  tests/geoid_freesurface/geoid_anomaly_SH_coefficients.00000
  tests/geoid_freesurface/geoid_anomaly_SH_coefficients.00001
  tests/geoid_freesurface/gravity_anomaly.00000
  tests/geoid_freesurface/gravity_anomaly.00001
  tests/geoid_freesurface/screen-output
  tests/geoid_freesurface/statistics
  tests/geoid_freesurface/surface_topography_contribution_SH_coefficients.00000
  tests/geoid_freesurface/surface_topography_contribution_SH_coefficients.00001
  tests/geoid_freesurface/topography.00000
  tests/geoid_freesurface/topography.00001
Labels: ready to merge

#6299 Remove a member initialization from header file
  include/aspect/boundary_traction/ascii_data.h
Labels: ready to merge

#6298 Add WorldBuilder macro definition
  source/particle/property/crystal_preferred_orientation.cc
Labels: ready to merge, ready to test

#6304 GMG: move preconditioner to header
  include/aspect/simulator/solver/stokes_matrix_free.h
  source/simulator/solver/stokes_matrix_free_local_smoothing.cc
Labels: ready to test

#6306 cleanup Tria options
  source/simulator/core.cc
  tests/background_output_writer/solution/solution-00004.0000.gnuplot
  tests/background_output_writer/solution/solution-00004.0001.gnuplot
  tests/cells_in_circumference/screen-output
  tests/maximum_refinement_function_spherical/screen-output
  tests/maximum_refinement_function_spherical/solution/solution-00004.0000.gnuplot
  tests/maximum_refinement_function_spherical/solution/solution-00004.0001.gnuplot
  tests/maximum_refinement_function_spherical/statistics
  tests/minimum_refinement_function_cartesian/screen-output
  tests/minimum_refinement_function_cartesian/solution/solution-00003.0000.gnuplot
  tests/minimum_refinement_function_cartesian/solution/solution-00003.0001.gnuplot
  tests/minimum_refinement_function_cartesian/statistics
  tests/particle_load_balancing_refinement_02/screen-output
  tests/particle_load_balancing_refinement_02/statistics
  tests/point_value_03/screen-output
  tests/point_value_specific_output_times/point_values.txt
  tests/point_value_specific_output_times/screen-output
  tests/pressure_boundary/screen-output
  tests/pressure_boundary/statistics
  tests/refinement_artificial_viscosity_2/screen-output
  tests/refinement_artificial_viscosity_2/solution/solution-00003.0000.gnuplot
  tests/refinement_artificial_viscosity_2/statistics
Labels: ready to test
